@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@inherits LayoutComponentBase

<div class="page-wrapper fade-in">
    <RouteView RouteData="@RouteData" DefaultLayout="typeof(MainLayout)" />
</div>

@code {
    [Parameter] public RouteData? RouteData { get; set; }
}
